<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>使用自定义字体</title>
    <style>
        @font-face{
            font-family: 'HYXingQiuTiJ';
            src: url('font/HYXingQiuTiJ.ttf') format('truetype');
        }
        @font-face{
            font-family: '汉仪圆叠体简';
            src: url('font/汉仪圆叠体简.ttf') format('truetype');
        }
        h2 {
            font-family: 'HYXingQiuTiJ';
            color: #00C1DE;
        }
        h3 {
            font-family: '汉仪圆叠体简';
            color: #8c442b;
        }
    </style>
</head>
<body>
<h2>这就是街舞-燃炸了~</h2>
<h3>-------同源分析平台......</h3>
</body>
</html>
